.idea

.access.php
/bitrix
/bitrix/*
/upload
/upload/*
gitignore
gitignore/*
/temp
/temp/*
/download
/download/*
/front-end
/front-end/*
/__MACOSX
/__MACOSX/*

*.tst
*.zip
*.log
*.old
*.gz
*.config
*.bac
*.dat
*.sql
*.psd
*.orig
*.pdf
/*.xml
/*.txt
/*.csv
/*.html
.DS_Store
.htaccess
.htaccess.restore
.htpasswd
